table>tbody>tr:first-child>td,
table>tbody>tr:first-child>th {
    border-top: 1.36px solid black !important;
}

table>tbody>tr:last-child>td,
table>tbody>tr:last-child>th {
    border-bottom: 1.36px solid black !important;
}

thead th {
    background-color: white !important;
    font-weight: 700;
}

table>caption {
    font-size: 1em;
}

table>tbody>tr:nth-child(even) {
    background-color: #dddddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    max-width: 100%;
    border-top: 2.27px solid black;
    /* border-bottom: 2.27px solid black; */
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.8em;
}

strong,
em {
    color: var(--emphasis-color) !important;

}

th,
td {
    border: 0 none !important;
    text-align: left;
    padding: 0.5rem;
    line-height: 1.1;
}

tr:hover {
    background-color: #cccccc;
}


.twoAxis table>tbody, table>thead {
  font-size: 0.7em;
}

.captionFontSize {
  font-size: 0.7em;
}




.twoAxis table>tbody>tr>td {
  vertical-align: middle;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
